<form action="addSubject.php" method="POST" role="form">

	<div class="form-group">
		<label for="grade">Grade</label>
		<input type="number" class="form-control" name="grade">
	</div>



	<button type="submit" class="btn btn-primary">Submit</button>
</form>
