form label {
    font-size: 15px;
    color: #C0CAD3;
}

body {
    background-color: #293A4A;
}

.formWrapper {
    display: table;
    width: 100%;
    height: 100vh;
}

.formWrapper form {
    display: table-cell;
    vertical-align: middle;
}

.formWrapper h3{
    color: #E99002;
}

#chatBox {
    height: 50vh;
    max-height: 600px;
    min-height: 200px;
    word-wrap: break-word;
    overflow-y: scroll;
    padding: 10px;
}

#chatBox p {
    font-size: 14px;
}

#chatBox h6 {
    font-size: 9px;
    padding: 0 5px;
}

#chatBox hr {
    border-color: lightslategrey;
    opacity: 0.4;
}

#buttonSubmit {
    float: right;
}

#errorMessage {
    color: #f23512;
}